
<div class= "alert alert-success" *ngIf='message'>{{ message}}</div>
<div class= "alert alert-danger" *ngIf='message1'>{{ message1}}</div>

  <div class="container">
    <div class="frame">
      <div class="nav">
        <ul class="links">
          <li class="login-active"><a class="btn">Apply Loan</a></li>
        </ul>
      </div>
      <div ng-app ng-init="checked = false">
        <form class="form-login" name="form" #makeLoanForm="ngForm" (ngSubmit)=" postCustomer(makeLoanForm)">

          <div class="form-group">
            <label>Name</label>
            <input class="form-styling " #fullName='ngModel' type="text" name="fullName"
              placeholder="enter client name....!!" required minlength="3" pattern="([a-zA-Z]{3,15}) ([a-zA-Z]{1,15})" ngModel>
            <div *ngIf='fullName.invalid && fullName.touched'>
              <small class="text-danger" *ngIf='fullName.errors.required'>Name is required</small>
              <small class="text-danger" *ngIf='fullName.errors.pattern'> Name should contain only alphabets</small>
              <small class="text-danger" *ngIf='fullName.errors.minlength'> Name should contain minimum 3
                characters</small>
            </div>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input class="form-styling " email #email='ngModel' type="email" name="email"
              placeholder="enter clients email.....!!" required ngModel minlength="8">
            <div *ngIf='email.invalid && email.touched'>
              <small class="text-danger" *ngIf='email.errors.required'>Email is required</small>
              <small class="text-danger" *ngIf='email.errors.minlength'>Email should contain atleast 8
                characters</small>
              <small class="text-danger" *ngIf='email.errors?.email && !(email.errors?.minlength)'>please enter  valid email id (eg:john@gmail.com)
                only</small>
            </div>

          </div>

          <div class="form-group">
            <label>Mobile</label>
            <input class="form-styling " type="text" #mobileNo='ngModel' name="mobileNo" required ngModel
             placeholder="enter mobile number" pattern="^\d{10}$" >
            <div *ngIf='mobileNo.invalid && mobileNo.touched'>
              <small class="text-danger" *ngIf=' mobileNo.errors.required'>Mobile Number required</small>
              <small class="text-danger" *ngIf=' mobileNo.errors.pattern'>Mobile Number should contain 10 digits</small>
            </div>
          </div>

          <div class="form-group">
            <label>Adhar Number</label>
            <input class="form-styling " type="text" #adharNo='ngModel' name="adharNo" required ngModel
              placeholder="enter adhar number...!!"  pattern="[0-9]{12}">
            <div *ngIf='adharNo.invalid && adharNo.touched'>
              <small class="text-danger" *ngIf=' adharNo.errors.required'>Adhar Number is required</small>
              <small class="text-danger" *ngIf=' adharNo.errors.pattern'>Adhar Number should contain 12 digits</small>
            </div>
          </div>

          <div class="form-group">
            <label>Date of Birth </label>
            <input type="date" class="form-styling " #dob="ngModel" name="dob" ngModel required
              min="1960-01-01" max="1998-12-31">
            <div *ngIf='dob.invalid && dob.touched'>
              <small class="text-danger" *ngIf=' dateOfBirth.errors.required'>Date is required</small>
              <small class="text-danger" *ngIf=' dateOfBirth.errors.min'>Enter valid date</small>
              <small class="text-danger" *ngIf=' dateOfBirth.errors.max'>Mobile Number should contain 10 digits</small>
            </div>
          </div>
          <label>Gender</label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" value="Male" id="male" name="gender" class="custom-control-input" #male='ngModel'
              [(ngModel)]="gender">
            <label class="custom-control-label" for="male">Male</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" value="Female" id="female" name="gender" class="custom-control-input" #female='ngModel'
              [(ngModel)]="gender">
            <label class="custom-control-label" for="female">Female</label>
          </div>


          <div class="form-group">
            <label>Loan Type</label>
            <select class="form-styling" style="color:cornsilk" placeholder="please select any loan type" name="loanType" ngModel #loanType="ngModel" required>
              <option class="dro" value="Home Construction">Home Construction</option>
              <option  class="dro" value="Home Purchase">Home Purchase</option>
              <option class="dro"  value="Home Extension">Home Extension</option>
              <option class="dro" value="Home Conversion">Home Extension</option>
            </select>
            <div *ngIf='loanType.invalid && loanType.touched'>
              <small class="text-danger font-italic">please choose any option!!</small>
            </div>
          </div>
          <!-- <div class="form-group">
            <label>Loan Type</label>
            <input type="text" class="form-styling " #loanType="ngModel" name="loanType" 
            placeholder="enter loan type..!!"    ngModel>
          </div> -->

          <div class="form-group">
            <label>Loan Amount</label>
            <input type="text" class="form-styling " #loanAmount="ngModel" name="loanAmount" ngModel required
             placeholder="enter loan amount..!!" pattern='[0-9]{4,8}'>
            <div *ngIf='loanAmount.invalid && loanAmount.touched'>
              <small class="text-danger" *ngIf=' loanAmount.errors.required'>Loan amount is required is required</small>
              <small class="text-danger" *ngIf=' loanAmount.errors.pattern'>enter valid amount</small>
            </div>
          </div>

          <input type="hidden" name="applicationStatus" id="status" #status='ngModel' [(ngModel)]="defValue" />
          <input type="hidden" name="password" id="password" #password='ngModel' [(ngModel)]="defVal" />
          <input type="hidden" name="role" id="role" #role='ngModel' [(ngModel)]="defaultValue" />
          <button class="btn-login" class="btn-animate" type="submit">Apply</button>

        </form>
      </div>
    </div>
  </div>




































